<header>
  <a routerLink="/profile" class="logo">
    <img src="assets/img/sell-it.png" alt="Logo: Buy it!" class="logo__img">
  </a>
  <div class="search">
    <form class="search__form" method="get" id="search">
      <label for="search__input" class="search__label">
        <img src="assets/img/fa-search.svg" alt="Search:">
        <input id="search__input" type="search" class="search__input" placeholder="Try find something">
      </label>
    </form>
  </div>
  <div class="user-block">
    <ng-container *ngIf="authorized$ | async; then authorized else unauthorized"></ng-container>
  </div>
</header>

<ng-template #authorized>
  <ng-container *ngIf="user$ | async as user">
  <div class="user" routerLink="/new-advert">
    <img src="{{user.avatar}}" alt="usr_img" class="user__img">
    <span class="user__name">{{user.username}}</span>
  </div>
  <a (click)="logout()" class="logout">
    <img src="assets/img/fa-sign-out.svg" alt="Logout" class="logout__img">
  </a>
  </ng-container>
</ng-template>

<ng-template #unauthorized>
  <!--TODO: Add styles-->
  <div class="">Welcome, <a href="" routerLink="/login">login</a> or <a href="" routerLink="/login">register</a> to
    start!</div>
</ng-template>
