:host {
  display: block;
  height: 59px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color_background);
}
.logo {
  flex: 0 0 auto;
  display: block;
  margin: 9px 0 9px 50px;
}
.search {
  flex: 1 1 auto;
  margin: 0 15px;
  font-size: 14px;
  max-width: 450px;
  &__form {
    max-width: 450px;
    border-bottom: 1px solid;
    border-color: var(--color_theme);
  }
  &__label {
    width: 100%;
  }
  &__input {
    border: 0;
    background: var(--color_background);
    width: calc(100% - 20px);
  }
}
.user-block {
  color: var(--color_background);
  font-size: 16px;
  flex: 0 0 auto;
  width: var(--width-aside-right);
  background: var(--color_theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 9px 25px 10px;
  &:hover {
    border-left: 5px solid var(--color_primary);
    padding-left: 20px;
  }
  &__menu {
    display: none;
    position: absolute;
    background: var(--color_theme);
    height: 100%;
    bottom: -100%;
    right: 0;
    width: inherit;
  }
  &:hover &__menu {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
  &__link {
    display: inline-block;
    flex: 0 1 50%;
    color: inherit;
    font-size: inherit;
    text-align: center;
    padding-left: 5px;
    text-decoration: none;
    &:hover {
      border-left: 5px solid var(--color_primary);
      padding-left: 0px;
    }
    &::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}
.user {
  &__img {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
  &__name {
    padding-left: 12px;
    font-weight: 700;
  }
}
