<header>
  <a routerLink="/profile" class="logo">
    <img src="assets/img/sell-it.png" alt="Logo: Buy it!" class="logo__img">
  </a>
  <div class="search">
    <form class="search__form" method="get" id="search">
      <label for="search__input" class="search__label">
        <img src="assets/img/fa-search.svg" alt="Search:">
        <input id="search__input" type="search" class="search__input" placeholder="Try find something">
      </label>
    </form>
  </div>
  <div class="user-block">
    <div class="user" routerLink="/new-advert" *ngIf="user">
      <img src="{{user.avatar}}" alt="usr_img" class="user__img">
      <span class="user__name">{{user.username}}</span>
    </div>
    <a routerLink="/login" class="logout">
      <img src="assets/img/fa-sign-out.svg" alt="Logout" class="logout__img">
    </a>
  </div>
</header>
