<div class="tabs">
  <button (click)="switchForm('login')" type="button" class="tabs__tab login-page__button">Sign in</button>
  <button (click)="switchForm('register')" type="button" class="tabs__tab login-page__button">Sign up</button>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-page__field">

  <input type="email"
         class="login__input"
         placeholder="Email"
         autocomplete="false"
         formControlName="email"
  >
  <div class="input-error" *ngIf="email.invalid && (email.dirty || email.touched)">
    <span *ngIf="email.errors['required']">
      Email is required.
    </span>
    <span *ngIf="email.errors['emailInvalid'] && email.value.length > 0 && email.touched">
      Email is unacceptable.
    </span>
  </div>
  <div class="input-error" *ngIf="loginForm.hasError('email')">
    Server: {{loginForm.errors['email']}}
  </div>

  <fieldset formGroupName="passwordGroup">

    <input class="login__input"
           type="password"
           placeholder="Password"
           formControlName="password"
    >
    <div class="input-error" *ngIf="password.invalid && (password.dirty || password.touched)">
      <span *ngIf="password.errors['required']">
        Password is required.
      </span>
      <span *ngIf="!!password.errors['minlength'] && password.touched">
        Password is too short.
      </span>
    </div>
    <div class="input-error" *ngIf="loginForm.hasError('password1')">
      Server: {{loginForm.getError('password1')}}
    </div>

    <div *ngIf="!alreadyRegistered">
      <input class="login__input"
             type="password"
             placeholder="Confirm Password"
             formControlName="passwordConfirm"
      >
      <div class="input-error" *ngIf="passwordConfirm.dirty || passwordConfirm.touched">
        <span *ngIf="password.touched && passwordGroup.errors && password.valid && passwordConfirm.touched">
          Passwords are different
        </span>
      </div>
    </div>
  </fieldset>

  <div class="input-error" *ngIf="loginForm.hasError('non_field_errors')">
    Server: {{loginForm.getError('non_field_errors')}}
  </div>
  <div class="input-error" *ngIf="loginForm.hasError('username')">
    Server: {{loginForm.getError('username')}}
  </div>

  <button type="submit" class="login__submit login-page__button"
    [disabled]="loginForm.status === 'INVALID'"
  >{{submitButtonText}}</button>

  <button type="button" class="login__submit login-page__button" (click)="socialSignIn('google')">Google OAuth</button>

</form>
