<app-header></app-header>

<form [formGroup]="advertForm" (submit)="onSubmit()" class="form">

  <div class="form-group">
    <label class="form-label" for="add-theme">Theme</label>
    <input type="text" formControlName="theme" id="add-theme" class="form-control">
    <div *ngIf="theme.touched || theme.dirty" class="form-validation-error">
      <span *ngIf="theme.invalid">
        Required field.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="add-text">Description</label>
    <textarea type="text" formControlName="text" id="add-text" class="form-control form-control--textarea"></textarea>
  </div>

  <fieldset>
    <!--Used entire div, because fieldset can't be flex-->
    <div class="form-group form-group--row">
      <div class="form-group">
        <label class="form-label form-label--inline" for="add-price">Price:</label>
        <input type="number" formControlName="price" id="add-price" class="form-control">
        <div *ngIf="price.touched || price.dirty" class="form-validation-error">
          <span *ngIf="price.invalid">
            Should be positive number.
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label form-label--inline" for="add-currency">Currency:</label>
        <input type="number" formControlName="currency" id="add-currency" class="form-control" readonly>
      </div>

      <div class="form-group">
        <input type="checkbox" formControlName="contract_price" id="add-contract-price" class="form-control--checkbox">
        <label  class="form-label form-label--inline" for="add-contract-price">Contract price</label>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
      <label class="form-label" for="add-location">Location ID</label>
      <input type="text" formControlName="location" id="add-location" class="form-control">
  </div>

  <div class="form-group">
    <input type="checkbox" formControlName="is_active" id="add-active" class="form-control--checkbox">
    <label class="form-label form-label--inline" for="add-active">Active</label>
  </div>

  <div class="form-group">
    <label class="form-label" for="images">Images</label>
    <input type="file" id="images" multiple (change)="onFileChange($event)"
           accept="image/jpeg, image/png, image/jpg, image/gif">
  </div>

  <button type="submit" [disabled]="advertForm.invalid">Submit</button>

</form>

<app-footer></app-footer>
