<header class="header">
  <a href="#" class="logo">
    <img src="../../assets/img/sell-it.png" alt="Logo: Buy it!" class="logo__img">
  </a>
  <div class="search">
    <form class="search__form" method="get" id="search">
      <label for="search__input" class="search__label">
        <img src="../../assets/img/fa-search.svg" alt="Search:">
        <input id="search__input" type="search" class="search__input" placeholder="Try find something">
      </label>
    </form>
  </div>
  <div class="user-block">
    <div class="user">
      <img src="../../assets/img/user.jpg" alt="usr_img" class="user__img">
      <span class="user__name">Kim Evans</span>
    </div>
    <a href="#0" class="logout">
      <img src="../../assets/img/fa-sign-out.svg" alt="Logout" class="logout__img">
    </a>
  </div>
</header>
<main class="main-content">
  <!--<section class="detail-page">-->
  <div class="slider">
    <img src="../../assets/img/product_sliced.jpg" alt="The greatest product ever!" class="slider__img">
  </div>
  <div class="about">
    <h1 class="about__title">Some title text must be here <br> maybe second line</h1>
    <div class="about__vendor">from <a href="#0" class="vendor">Alis Kim</a></div>
    <div class="about__price">18000 $</div>
    <div class="about__description">
      <p>Some description text from WYSIWYG editor</p>
      <p>Can be <span class="about__bold">BOLD</span> <span class="about__italic">Italic</span></p>
      <div class="about__list about__bold">Can have  list:
        <ul class="about__ul">
          <li>first</li>
          <li>second</li>
        </ul>
      </div>
      <p><span class="about__bold">And anything from WYSIWYG editor</span></p>
      <p><span class="about__bold">Some line</span><br>
        Some line<br>
        <span class="about__italic">Some  line</span></p>
      <p><span class="about__bold">Finished on this line.</span></p>
    </div>
  </div>
  <section class="chat">
    <h2 class="chat__title">Chat
      <span class="chat__subtitle">with
                    <a href="#0" class="chat__vendor chat__vendor--online">Alis Kim</a>
                </span>
    </h2>
    <div class="chat__area">
      <form class="chat__messages" method="post" >
        <div class="chat__message chat__message--single-line chat__message--vendor">
          <img src="../../assets/img/vendor.jpg" alt="vendor" class="chat__icon">
          <div class="chat__text">One line chat message</div>
        </div>
        <div class="chat__message chat__message--multi-line chat__message--user">
          <img src="../../assets/img/user.jpg" alt="user" class="chat__icon">
          <div class="chat__text">Multi line chat message. Some  text for multi line message.
            What is your name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your
            contacts. May be your facebook page or some think alse. How much cost this t shirt?</div>
        </div>
        <div class="chat__send">
          <input type="text" class="chat__input" placeholder="Type some text here">
          <button class="chat__submit" type="submit">
            <img src="../../assets/img/fa-send.svg" alt="Send" class="chat__submit-icon">
          </button>
        </div>
      </form>
    </div>
  </section>
  <div class="chat__connected">
    <h3 class="chat__title--connected">Connected</h3>
    <div class="user">
      <img src="../../assets/img/vendor.jpg" alt="vendor" class="user__img">
      <span class="user__name">Alis Kim</span>
    </div>
    <div class="user">
      <img src="../../assets/img/user.jpg" alt="user" class="user__img">
      <span class="user__name">Kim Evans</span>
    </div>
  </div>
</main>
<footer class="footer">2017 - front-end labs Light IT</footer>
