<div class="login-page__wrapper">
  <main class="login-page">
    <header class="login-page__logo">
      <img src="assets/img/sell-it--white.png" alt="Sell It" class="login-page__img">
    </header>
    <form class="login-page__content">
      <div class="tabs">
        <button type="button" class="tabs__tab login-page__button" data-fieldset="sign-in">Sign in</button>
        <button type="button" class="tabs__tab login-page__button" data-fieldset="sign-up">Sign up</button>
      </div>
      <fieldset id="sign-in" class="login-page__field _active">
        <input type="email" class="login__input" placeholder="Email">
        <input type="password" class="login__input" placeholder="Password">
        <button type="submit" class="login__submit login-page__button">Login</button>
      </fieldset>
      <fieldset id="sign-up" class="login-page__field">
        <input type="email" class="login__input" placeholder="Email">
        <input type="password" class="login__input" placeholder="Password">
        <button type="submit" class="login__submit login-page__button">Sign up</button>
      </fieldset>
    </form>
    <!--TODO: add to FooterComponent possibility to change innerHTML-->
    <app-footer>Frontend labs 2017</app-footer>
  </main>
</div>
<script>
  const tabs = document.querySelector(".tabs");

  const tabsHandler = (e) => {
    const target = e.target;
    if (e.target.nodeName !== "BUTTON") return;
    const field = document.querySelector("#" + target.dataset.fieldset);
    let currentActive = document.querySelector("._active");
    currentActive.classList.remove("_active");
    field.classList.add("_active")
  };

  tabs.addEventListener( "click", tabsHandler );
</script>
