<div class="login-page__wrapper">
  <main class="login-page">
    <header class="login-page__logo">
      <img src="assets/img/sell-it--white.png" alt="Sell It" class="login-page__img" routerLink="/product">
    </header>
    <div class="login-page__content">
      <div class="tabs">
        <button (click)="hasAccount = true" type="button" class="tabs__tab login-page__button" data-fieldset="sign-in">Sign in</button>
        <button (click)="hasAccount = false" type="button" class="tabs__tab login-page__button" data-fieldset="sign-up">Sign up</button>
      </div>
      <div>
        <app-signin-form *ngIf="hasAccount"></app-signin-form>
        <app-signup-form #hasAccount *ngIf="!hasAccount"></app-signup-form>
      </div>
    </div>
    <!--TODO: add to FooterComponent possibility to change innerHTML-->
    <app-footer>Frontend labs 2017</app-footer>
  </main>
</div>
