.about {
  &__title {
    margin: 0 0 15px;
    font: 32px/1.2 MyriadProRegular, sans-serif;
    color: #000000;
  }
  &__vendor {
    display: inline-block;
    font-weight: 700;
  }
  &__price {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    color: var(--color_accent);
    margin-left: 23px;
  }
  &__description {
    margin-top: 40px;
  }
  &__ul {
    margin-top: 0;
    list-style: none;
    & > li:before {
      content: "-";
      padding-right: 5px;
    }
  }
  &__bold {
    font-weight: 700;
  }
  &__italic {
    font-style: italic;
  }
}

.vendor {
  color: var(--color_theme);
}